.placeContainer {
  background: #FFFFFF;
  margin-top: 10px;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  /* padding: 18px; */
}

.functionContainer {
  display: flex;
  /* justify-content: space-between; */
  justify-content: flex-start;
  padding: 9px 20px;
}
